<%- include('./partials/header.ejs') %>
<body>
    <div class="container-1">
        <h1 class="h1-1-lg align-center"><%= status %></h1>
        <h1 class="h1-2-lg align-center"><%= error %></h1>
    </div>
</body>
<%- include('./partials/footer.ejs') %>